.cart {
    background-color: rgba(76, 65, 65, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;

    .container {
        padding-top: 2.8rem;

        position: absolute;
        right: 0;
        background-color: white;
        width: 40rem;
        height: 100%;
        overflow-y: auto;

        animation-name: showOn;
        animation-duration: 0.4s;
        animation-fill-mode: forwards;

        h1{
            margin-left: 1.2rem;
            margin-bottom: 1.2rem;
        }
        &::-webkit-scrollbar {
            width: 0.4rem;
          }
        /* Track */
        &::-webkit-scrollbar-track {
            background: lightgray;
        }
        
        /* Handle */
        &::-webkit-scrollbar-thumb {
            border-radius: 0.4rem;
            background: gray;
            opacity: 0.5;
        }
        
        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            opacity: 1;
        }
        

        .cart_close{
            font-size: 3.2rem;
            font-weight: bol;
            color: black;
            position: absolute;
            top: 2rem;
            right: 2rem;
            transition: color 0.1s;
            &:hover{
                color: var(--pink);
                border: 0.1rem solid var(--pink);
                border-radius: 0.4rem;
            }
        }
        .cart_item {
           margin-top: 2rem;
            margin-left: auto;
            margin-right: auto;
            padding: 2rem;
            width: 24rem;

            box-shadow: 0 0 0.2rem 0.1rem rgba(76, 65, 65, 0.4);
            .cart_img {
                height: 20rem;
                width: 20rem;
                background-position: center;
                background-size: cover;
            }

            .cart_text {


                .ten_san_pham {
                    color: black;
                    font-size: 1.6rem;
                    transition: color 0.4s;
                     &:hover {
                        text-decoration: underline;
                        color: var(--pink);
                    }
                }

                h3 {}

                span {
                    
                }

                input {
                    border: none;
                    border-bottom: 0.2rem solid gray;
                    outline: none;
                    text-align: center;
                }

                h5 {
                    text-align: center;
                    padding: 0.8rem;
                    border: 0.2rem solid var(--pink);
                    border-radius: 0.8rem;
                    margin-top: 0.8rem;
                }

            }
        }
    }
}

@keyframes showOn {
    from {
        right: -34rem;
        opacity: 0;
    }
    
    to {
        right: 0;
        opacity: 1;
    }
}

