.slide{
    background-color: rgb(54, 54, 54);
    padding: 24px 50px 24px 50px;
}
.slip{
    width: 172.8rem;
    margin-left: -2rem;
}
.item{
    display: inline-block;
    width: 28.8rem;
}
.item img{
    display: block;
    height: 7.3rem;
    margin: 0 auto;
}