.cart {
    background-color: rgba(76, 65, 65, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;

    .container {
        padding-top: 2.8rem;

        position: absolute;
        right: 0;
        background-color: white;
        width: 80rem;
        height: 100%;
        overflow-y: auto;

        animation-name: showOn;
        animation-duration: 0.4s;
        animation-fill-mode: forwards;

        h1 {
            margin-left: 1.2rem;
            margin-bottom: 1.2rem;
        }

        &::-webkit-scrollbar {
            width: 0.4rem;
        }

        /* Track */
        &::-webkit-scrollbar-track {
            background: lightgray;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
            border-radius: 0.4rem;
            background: gray;
            opacity: 0.5;
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            opacity: 1;
        }


        .cart_close {
            font-size: 3.2rem;
            font-weight: bol;
            color: black;
            position: absolute;
            top: 2rem;
            right: 2rem;
            transition: color 0.1s;

            &:hover {
                color: var(--pink);
                border: 0.1rem solid var(--pink);
                border-radius: 0.4rem;
            }
        }

        .user_info {
            .avatar {
                height: 12rem;
                width: 12rem;
                border-radius: 50%;
                background-position: center;
                background-size: cover;
                margin: 0 auto;
                position: relative;
                overflow: hidden;

                label {
                    position: absolute;
                    bottom: 0;
                    font-size: 2rem;
                    background-color: rgba(0, 0, 0, 0.6);
                    display: block;
                    color: white;
                    width: 12rem;
                    height: 3.6rem;
                    text-align: center;
                    cursor: pointer;
                }
            }

            .text {
                font-size: 1.5rem;
                margin: 2rem 1.6rem;
                label {
                    display: block;
                    font-weight: 700;
                }

                input {
                    width: 100%;
                    color: #050505;
                    padding: 0.8rem 1.2rem;
                }
            }
            button{
                display: block;
                margin: 2rem auto 0;
                font-size: 2rem;
                background-color: var(--pink);
                border: none;
                padding: 1.2rem 1.6rem;
                color: white;
                text-transform: uppercase;
            }
        }
    }
}

@keyframes showOn {
    from {
        right: -34rem;
        opacity: 0;
    }

    to {
        right: 0;
        opacity: 1;
    }
}